@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Мытищи<br />
    krikunov@bigmir.net<br />
    <abbr title="Phone">Тел:</abbr>
    8-910-423-47-98
</address>

<address>

</address>

<input type="text" size="40" fieldtype="date">




<script>

   
</script>