@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Статус сервера</h1>
    <h2>@ViewBag.DateTime</h2>
    <h3>@ViewBag.Status</h3>
    <img src="~/Image/jar.jpg" />
</div>

<div class="row">

</div>
